<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>EyeTV Info</string>
	<key>CFBundleIdentifier</key>
	<string>fi.iki.pnr.plex.agents.eyetv_info</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
</dict>
</plist>
